h1 {
	font-family: "Optima";
	font-size: 20pt;
	color: white;
	border: double;
	border-color: white;
}

h3 {
	font-family: "Optima";
	font-size: 14pt;
	color: white;
}

body {
	background-color: SlateBlue;
}

