h1 {
	font-family: "Optima";
	font-size: 20pt;
	color: black;
	border: double;
	border-color: black;
}


body {
	background-color: #C7E8F6;
}

.image1 {
	width: 600px;
	height: 100px;
}

.image2 {
	width: 600px;
	height: 100px;
}